# ===== OS =====
.DS_Store
Thumbs.db

# ===== Python =====
__pycache__/
*.py[cod]
.env
.venv/
env/

# ===== Node / React =====
node_modules/
dist/

# ===== Docker =====
*.log

# ===== DB =====
pgdata/

# ===== IDE =====
.vscode/
.idea/

# ===== Others =====
.env.*
